@font-face {
  font-family: comicNeue;
  src: url("../public/fonts/Comic_Neue/ComicNeue-Bold.ttf");
}

body {
  font-family: comicNeue;
}

input {
  padding: 3px;
  border-radius: 10px;
  border: #D2AC47 solid 1px;
  height: 25px;
}

.App {
  display: flex;
  color: white;
}

.side-menu {
  width: 300px;
  background-color: #D2AC47;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-items {
  padding: 10px;
  background-color: #333;
  width: 150px;
  text-align: center;
  border-radius: 10px;
}

.links {
  color: white;
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 15px;
  background-image: url("../public/images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  height: 100%;
  align-items: center;
  width: 90%;
}

.formular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.form {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.form-register {
  color: #D2AC47;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
  width: 50%;
  height: 550px;
}

.form-connection {
  background-color: #D2AC47;
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-evenly;
  width: 25%;
  height: 300px;
}

.btn-register {
  background-color: #D2AC47;
  border-radius: 20px;
  border: none;
  height: 30px;
  color: white;
}

.input-connection {
  border: #000 solid 1px;
  background: none;
  color: #000;
}

.btn-connection {
  background-color: #000;
  border-radius: 20px;
  border: none;
  height: 30px;
  color: #D2AC47;
}

.user-list {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
}

.user-list-main-title {
  background-color: #D2AC47;
  width: 30%;
  padding: 15px;
  height: fit-content;
}

.user-list-table {
  width: 90%;
  background-color: #D2AC47;
  border-radius: 30px;
  height: 80%;
}

.u-items{
  font-size: 24px;
  display: flex;
  justify-content: space-evenly;
}

.u-items-sub {
  font: 18px;
  display: flex;
  justify-content: space-evenly;
  color: #333;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0;
}

.filler{
  width: 50%;
}